$placecard: rgba(0, 225, 0, .3);
$placecard2: rgba(0,0,225,.3);
$headline: rgba(15,15,15,1);

@mixin background-size($style) {
  -webkit-background-size: $style;
  -moz-background-size: $style;
  -ms-background-size: $style;
  -o-background-size: $style;
  background-size: $style;
}
h1 {font-size: 2em; font-weight: normal; color: $headline;}
h2 {font-size: 1.7em;}
h3 {font-size: 1.5em;}
p {margin: 0 0 .75em 0;}
a {color: $headline;}
a:hover {color: violet;}
/*========================================
Reset
========================================*/

/*========================================
Body
========================================*/
body {
  background: url(../images/bodyimage.jpg) no-repeat center center fixed;
  @include background-size(cover);
  text-align: center;
  font-family: courier;
  font-size: 16px;
  .header {
    background: url(../images/mainbody.jpg)center bottom;  //This is so the two images don't match up.
    @include background-size(cover);
    max-width: 980px;
    height: 125px;
    margin: 0px auto;
    border-radius: 20px;
  }
  .layout {
    background: url(../images/mainbody.jpg)center center;
    @include background-size(cover);
    max-width: 940px;
    min-width: 800px;
    height:800px;
    margin: 30px auto;
    border-radius: 20px;
  }
  /*====================================
  Footer
  ====================================*/
  .footer {
    background: url(../images/mainbody.jpg)center center;
    @include background-size(cover);
    max-width: 980px;
    height: 100px;
    margin: 0px auto;
    border-radius: 20px; 
  }
}

