$placecard: rgba(0, 225, 0, .3);
$placecard2: rgba(0,0,225,.3);
$headline: rgba(15,15,15,1);
/*========================================
Reset
========================================*/
body {
   }


/*========================================
Body
========================================*/
body {
  background: url(../images/bodyimage.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  font-family: courier;
  font-size: 16px;
  .container {
    max-width: 960px;
    min-width: 800px;
    margin: 30px auto;
    border-radius: 20px;
  }
}
h1 {font-size: 2em; font-weight: normal; color: $headline;}
h2 {font-size: 1.7em;}
h3 {font-size: 1.5em;}
p {margin: 0 0 .75em 0;}
a {color: $headline;}
a:hover {color: violet;}

header > .container {
  max-width: 960px;
  height: 125px;

}
.header_wrapper {
  height: inherit;
  display: grid;
  grid-gap: 9px;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 55% 25%;
  margin: 10px;
  padding: 9px;
}
.nav {
  background-color: $placecard;

}
.logo {
  grid-column: 1/-1;
  grid-row: 1;
}

.nav_1 {
  grid-row: 2;
  grid-column: 2;
}
.nav_2 {
  grid-row: 2;
  grid-column: 3;
}
.nav_3 {
  grid-row: 2;
  grid-column: 4;
}
.nav_4 {
  grid-row: 2;
  grid-column: 5;
}
.nav_5 {
  grid-row: 2;
  grid-column: 6;
}
.null {
  height: 160px;
}
content {
  clear: both;
}
content > .container {
  max-width: 900px;
  height: 1100px;
  margin: 0px auto;

}
.content_wrapper {
  height: 66%;
  display: grid;
  grid-gap: 10px;
  margin: 10px;
  padding: 9px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 9% auto;
}
.content {
  background-color: $placecard;
}
.content_1 {
  grid-column: 1/-1;
  grid-row: 1;
}
.content_2 {
  grid-row: 2;
  grid-column: 1;
}
.content_3 {
  grid-row: 2;
  grid-column: 2;
}
.promo_wrapper {
  height: 29%;
  display: grid;
  grid-gap: 10px;
  margin: 10px;
  padding: 9px;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: (20% auto);
  margin-top: 20px;
}
.promo {
  background-color: $placecard;
}
nav {
  display: none;
}
footer > .container {
  max-width: 600px;
  height: 100px;
  margin: 20px auto;
}
.footer_wrapper {
  height: inherit;
  display: grid;
  grid-gap: 10px;
  margin: 9px;
  padding: 9px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: (42% 30%);
}
.footer {
  background-color: $placecard;
}
.footer_1 {
  grid-row: 1;
  grid-column: 1/-1;
}
.footer_2 {
  grid-row: 2;
}
.footer_3 {
  grid-row: 2;
}
.footer_4 {
  grid-row: 2;
}
.footer_5 {
  grid-row: 2;
}
.footer_6 {
  grid-row: 2;
}
