$placecard: rgba(0,225,0,.3);
$placecard2: rgba(0,0,225,.3);
$headline: rgba(15,15,15,1);
$boxshadow: 5px, 5px, 5px, 5px, rgba(15,15,15,.3);

@font-face {
  font-family: "Retro";
  src: url(fonts/Retro-Regular.otf);
}
@mixin background-size($style) {
  -webkit-background-size: $style;
  -moz-background-size: $style;
  -ms-background-size: $style;
  -o-background-size: $style;
  background-size: $style;
}
h1 {font-size: 2em; font-weight: normal; color: $headline;}
h2 {font-size: 1.7em;}
h3 {font-size: 1.5em;}
p {margin: 0 0 .75em 0;}
a {color: $headline;}
a:hover {color: violet;}
/*========================================
Body
========================================*/
body {
  background: url(../images/bodyimage.jpg) no-repeat center center fixed;
  @include background-size(cover);
  text-align: center;
  font-family: courier;
  font-size: 16px;
}
  .header {
    background: url(../images/mainbody.jpg)center bottom;  //This is so the two images don't match up.
    @include background-size(cover);
    max-width: 980px;
    height: 150px;
    margin: 20px auto;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px rgba(15,15,15,.3);
    .title h1 {
        font-family: retro; 
        color: #FF4466;
      }

    .nav {
      height: 100px;
      position: relative; 
      .nav_home {
        background: url(../images/nav_btn1.png)no-repeat center bottom;
        @include background-size(contain);
        height:inherit;
      }
      .nav_comedy {
        background: url(../images/nav_btn2.png)no-repeat center bottom;
        @include background-size(contain);
        height:inherit;
        top:10px;
      }
      .nav_art {
        background: url(../images/nav_btn3.png)no-repeat center bottom;
        @include background-size(contain);
        height:inherit;
      }
      .nav_games {
        background: url(../images/nav_btn4.png)no-repeat center bottom;
        @include background-size(contain);
        height:inherit;
      }
    }
  }
  
  .layout {
    background: url(../images/mainbody.jpg)center center;
    @include background-size(cover);
    max-width: 940px;
    min-width: 800px;
    height:90vh;
    margin: 30px auto;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px rgba(15,15,15,.3);
  }
  
  /*====================================
  Footer
  ====================================*/
  .footer {
    background: url(../images/mainbody.jpg)center center;
    @include background-size(cover);
    max-width: 980px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border-radius: 20px; 
    box-shadow: 5px 5px 5px 5px rgba(15,15,15,.3);
    .row {
      line-height: 100px;
      .fa {
        color: #1ce;
        font-size: 30px;
        &:hover {
          color: pink;
          transform: scale(1.5);
          transition: 2s;
        }
      }
    }
  }


